.auth-btn {
    width: 100%;
    padding: 15px 30px;
    border-radius: 7px;
    background-color: #407BFF;
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    margin: 40px 0;
}