.auth {
  &-container {
    padding: 50px 40px 100px 140px;
  }

  &-title {
    margin-bottom: 23px;
  }

  &-subtitle {
    font-size: 18px;
  }

  &-img {
    width: 100%;
    margin-top: -29%;
  }
}
