.product-details-container {
  margin-top: 40px;
  padding: 0 40px;
}

.product-details {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 18px rgba(black, 0.25);
  padding: 50px 60px 90px;
}

.product-goback {
  display: flex;
  align-items: baseline;
  &:hover {
    color: #407bff;
  }
}

.icon-goback {
  transform: rotate(-180deg);
  width: 15px;
  height: 15px;
}

.text-goback {
  font-size: 25px;
  font-weight: normal;
  margin-left: 20px;
}

.product-desc-section {
  border-radius: 5px;
  margin: 50px 0;
}

.product-img-desc {
  padding:0 10px;
  img {
    border: 1px solid #eee;
    border-radius: 10px;
    display: block;
    padding: 15px;
  }
}

.product-desc {
  border: 1px solid #eee;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
}