.pagination-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-bottom: 20px;
}

.pagination-item {
  border-radius: 50%;
  height: 100%;
  width: 40px;
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  margin-right: 15px;
  color: white;
  cursor: pointer;

  &.active {
    background-color: #407bff;
  }
}

.previous {
  transform: rotate(-180deg);
  margin-right: 15px;
  cursor: pointer;
  width: 10px;
  height: 35px;
}

.next {
  width: 10px;
  height: 35px;
}

.page-active {
  cursor: pointer;
  color: #407bff;
}

.page-inactive {
  color: #e1e1e1;
  pointer-events: none;
}
