.admin-base-title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: normal;
}

.admin-base-form {
  padding: 50px 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.base-form-actions {
  margin-top: 73px;
  text-align: right;
}

.btn-cancel {
  border: 1px solid red;
  color: red;
  margin-right: 50px;
  outline: none;

  &:hover {
    color: red;
  }
}
.btn-save {
  color: #fff;
  outline: none;

  &:hover {
    color: #fff;
  }
}
